{% load static %}
<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'main/font/stylesheet.css' %}">
    <title>Головна сторінка</title>
</head>

<body>
    <header>
        <div class="desktop-header">
            <ul>
                <li>
                    {% if user.is_authenticated %}
                    <div class="design-link"><a class="design" href="{% url 'checkout' %}"></a></div>
                    {% else %}
                    <div class="design-link"><a class="design" href="{% url 'login' %}"></a></div>
                    {% endif %}
                </li>
                <li>
                    <div class="home-selected"><a class="home" href="/"></a></div>
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <div class="orders-link"><a class="orders" href="{% url 'orders' %}"></a></div>
                    {% else %}
                    <div class="orders-link"><a class="orders" href="{% url 'login' %}"></a></div>
                    {% endif %}
                </li>
            </ul>
            <div class="profile-link">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="logout-button">Вийти</a>
                {% else %}
                <a href="{% url 'login' %}" class="logout-button">Увійти</a>
                {% endif %}
            </div>
        </div>
        <div class="mobile-header">
            <button id="open-nav-button"></button>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="logout-button">Вийти</a>
            {% else %}
            <a href="{% url 'login' %}" class="logout-button">Увійти</a>
            {% endif %}
            <nav class="mobile-nav">
                <button id="close-button"></button>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Вийти</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Увійти</a></li>
                    {% endif %}
                    <li><a href="">Про нас</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'checkout' %}">Оформлення</a></li>
                    <li><a href="{% url 'orders' %}">Список замовлень</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Оформлення</a></li>
                    <li><a href="{% url 'login' %}">Список замовлень</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h1>Про нас</h1>
        <article>
            <p>У сучасному світі логістика — це не просто доставка, а складна система, яка потребує швидких рішень та гнучкості. Ми допомагаємо транспортно-логістичним компаніям вирішити ключову проблему — неефективний розподіл ресурсів та неможливість швидко реагувати на зміну попиту. Завдяки нашому підходу ви отримуєте:</p>
            <div class="features">
                <img src="{% static 'main/img/truck-with-deal.png' %}" alt="Вантажівка з товарами">
                <ul>
                    <li>точний розподіл товарів і матеріалів</li>
                    <li>швидку адаптацію до змін у реальному часі</li>
                    <li>зниження витрат на паливо та логістику</li>
                    <li>підвищення якості обслуговування клієнтів</li>
                </ul>
            </div>
            <p>Ми перетворюємо хаотичну логістику на чітко налагоджену систему, яка працює на результат</p>
        </article>
    </main>

    <script>
        const mobileNav = document.getElementsByClassName("mobile-nav")[0]

        const openNavButton = document.getElementById("open-nav-button")
        openNavButton.addEventListener("click", function() {
            mobileNav.style.display = "block"
        })

        const closeNavButton = document.getElementById("close-button")
        closeNavButton.addEventListener("click", function() {
            mobileNav.style.display = "none"
        })
    </script>
</body>

</html>

</html>